.cocal {
	color: #666;
	font-family: arial;
}


.cocal-header {
	display: flex;
	flex-flow: row nowrap;
}

.cocal-header-left, .cocal-header-center, .cocal-header-right {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	flex: 1;
}
.cocal-header-center {
	justify-content: space-between;;
}
.cocal-header-right {
	justify-content: flex-end;
}

.cocal-header-item {
	display: flex;
}
a.cocal-header-item {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.cocal-body {
	font-size: 13px;
}

.cocal-dayname {
	font-size: 15px;
	padding: 0.4em;
	text-align: center;
}

.cocal-week, .cocal-daynames {
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-flow: row nowrap;
}

.cocal-day, .cocal-dayname {
	background: #fff;
	border-left: 1px solid #ccc;
	flex: 1;
	position: relative;
}
.cocal-day:last-of-type, .cocal-dayname:last-of-type {
	border-right: 1px solid #ccc;
}

.cocal-date-number {
	box-sizing: border-box;
	height: 2em;
	padding: 0.4em;
	position: absolute;
	top: 0;
	right: 0;
}

.cocal-sans-edge-borders .cocal-week:last-of-type {
	border-bottom: none;
}
.cocal-sans-edge-borders .cocal-day:first-of-type, .cocal-sans-edge-borders .cocal-dayname:first-of-type {
	border-left: none;
}
.cocal-sans-edge-borders .cocal-day:last-of-type, .cocal-sans-edge-borders .cocal-dayname:last-of-type {
	border-right: none;
}

.cocal-overflow-date {
	background: rgba(0, 0, 0, 0.1);
}

.cocal-events-wrapper {
	position: absolute;
	top: 2em;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.cocal-event {
	height: 1.4em;
}
.cocal-event:not(.cocal-event-placeholder) {
	background: repeating-linear-gradient(135deg, rgba(0,0,0,0), rgba(0,0,0,0) 8px, currentColor 9px, rgba(0,0,0,0) 10px);
	opacity: 0.9;
}
.cocal-event:nth-last-of-type(n + 2) {
	margin-bottom: 0.6em;
}


.cocal-draggable {
	background: #fff;
	border: 1px solid;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	height: 100%;
	overflow: hidden;
	padding: 0 12px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
}
.cocal-draggable.dragging {
	position: absolute;
	z-index: 14;
}
